.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editorContainer {
  padding: 1em;
  margin: 1em;
}

.editors {
  border: 1px transparent solid;
  padding: 1.5em 2em 2.75em 2em;
  margin: 1.25em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  letter-spacing: 1.5px;
  font-size: 95%;
  border-radius: 6px;
  text-align: left;
  line-height: 1.5em;
}

button {
  border-radius: 2px;
  margin: 0.25em;
  width: 2.3em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  line-height: 200%;
  border-radius: 3px;
  background-color: #efefef;
}

button.underline {
  text-decoration: underline;
}

.underline,
.bold,
.italic,
.highlight {
  font-size: 1em;
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
  font-size: 1em;
}

html {
  /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */

  height: 100%;
  position: relative;
  width: 100%;
}

.editors {
  background-color: rgb(17, 3, 3);
}
